@font-face {
  font-family: 'iconfont';
  src: url("font/iconfont.eot");
  src: url("font/iconfont.eot?#iefix") format('embedded-opentype'), url("font/iconfont.woff") format('woff'), url("font/iconfont.ttf") format('truetype');
}
@-moz-keyframes blink {
  from {
    border-right: 2px solid #2c2c2c;
  }
  to {
    border-right: 2px solid rgba(44,44,44,0);
  }
}
@-webkit-keyframes blink {
  from {
    border-right: 2px solid #2c2c2c;
  }
  to {
    border-right: 2px solid rgba(44,44,44,0);
  }
}
@-o-keyframes blink {
  from {
    border-right: 2px solid #2c2c2c;
  }
  to {
    border-right: 2px solid rgba(44,44,44,0);
  }
}
@keyframes blink {
  from {
    border-right: 2px solid #2c2c2c;
  }
  to {
    border-right: 2px solid rgba(44,44,44,0);
  }
}
.article-entry pre,
.article-entry .highlight {
  background: #fff;
  margin: 0;
  margin-right: 20px;
  padding: 15px 20px;
  border-width: 1px 0;
  overflow: auto;
  color: #4d4d4c;
  line-height: 25.6px;
  border-radius: 5px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: Courier, 'Courier New', monospace;
}
.article-entry code {
  background: #fff;
  text-shadow: 0 1px #fff;
  color: #e46d6d;
  border-radius: 3px;
  padding: 0 0.3em;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table,
.article-entry .highlight tbody {
  margin: 0;
  width: auto;
  border: none !important;
  background-color: #fff !important;
}
.article-entry .highlight tr:hover {
  background-color: #fff !important;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #8e908c;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight .line {
  height: 25.6px;
}
.article-entry .highlight .line.marked {
  background: #d6d6d6;
}
.article-entry .gist {
  margin: 0 -20px;
  border-width: 1px 0;
  background: #fff;
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: Courier, 'Courier New', monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #fff;
  color: #8e908c;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #c82829;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f5871f;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #718c00;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #718c00;
}
pre .css .hexcolor {
  color: #3e999f;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #4271ae;
}
pre .keyword,
pre .javascript .function {
  color: #8959a8;
}
body {
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
  color: #575757;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 30px;
  position: relative;
}
a {
  text-decoration: none;
  color: #575757;
}
h1 {
  font-size: 36px;
}
.iconfont {
  font-family: 'iconfont';
}
.container {
  padding-left: 40px;
}
.societies {
  margin-top: 15px;
}
.social {
  color: #575757;
  display: inline-block;
  font-size: 20px;
  margin-right: 0.5em;
}
.header {
  height: 30px;
  background-color: rgba(226,226,226,0.33);
  font-size: 14px;
}
.header > .home.nav {
  background-color: #dcdcdc;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  width: 5em;
  padding-left: 15px;
}
.posts {
  margin-top: 38px;
  line-height: 2em;
}
.post-item {
  font-size: 26px;
  line-height: 1.7em;
}
.post-item:hover {
  color: #698ebf;
}
.post-page {
  margin-top: 0.5em;
}
.post-page > .page {
  display: inline-block;
  background-color: rgba(234,234,234,0.6);
  width: 3.2em;
  line-height: 1.6em;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.post-page > .page.disable {
  background-color: rgba(243,243,243,0.6);
  cursor: not-allowed;
  color: #aaa;
}
.post-page > .page:hover {
  background-color: rgba(243,243,243,0.6);
  color: #888;
}
.article-entry {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  max-width: 700px;
}
.article-entry > .date {
  color: #aaa;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Droid Sans Fallback, Microsoft YaHei, sans-serif;
}
.article {
  margin-top: 15px;
  letter-spacing: 0.07em;
  line-height: 1.5em;
}
.article > h2 {
  margin-top: 1.8em;
  font-size: 26px;
}
.article > h3 {
  font-size: 20px;
}
.article > p {
  color: #444;
}
.article a {
  text-decoration: underline;
}
.footer {
  height: 30px;
  background-color: rgba(242,242,242,0.7);
  line-height: 30px;
  color: #aaa;
  font-size: 14px;
  position: absolute;
  box-sizing: border-box;
  padding-left: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer > a {
  color: #aaa;
}
h1.title,
h2.subtitle {
  font-weight: 300;
  color: #575757;
  margin: 0;
}
h1.title {
  margin-top: 1em;
  margin-bottom: 5px;
}
h2.subtitle {
  font-size: 26px;
}
h2.subtitle > span {
  animation: 1s steps(2, start) 0s infinite blink;
  padding-right: 0.2em;
}
table {
  border-radius: 1em;
}
table,
tbody {
  width: 100%;
  margin: 15px 0;
  border-collapse: collapse;
  background-color: #fff;
}
th {
  line-height: 3em;
  background-color: #333;
  color: #ccc;
}
tr {
  line-height: 2em;
}
tbody > tr:hover {
  background-color: #eee;
}
th,
td {
  font-size: 0.95em;
}
padding:4px border-collapse:collapse {
  border: 1px solid #fff;
}
.article-title {
  margin: 0.3em 0;
  font-weight: bolder;
}
